[Desktop Entry]
Name=COSMIC Backups
Exec=cosmic-backups %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.example.CosmicAppTemplate
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
